extends layout.pug

block content 
    div.container.pt-5
        section.nes-container.with-title
            h3.title login here
            a(href="/auth") click here to login with salesforce
        
